.comm_tab {
    width: 100%;
    border-bottom: 1px solid #d1d5d9;
    @include flexLayout(row, flex-start, center);
    gap: 40px;
    margin-bottom: 40px;
    > li {
        a {
            padding-bottom: 15px;
            display: block;
            position: relative;
            font-size: 20px;
            font-weight: 700;
            color: #595959;
            &.on {
                color: #292929;
                &::after {
                    content: '';
                    width: 100%;
                    height: 3px;
                    background-color: #292929;
                    position: absolute;
                    left: 0;
                    bottom: -1px;
                }
            }
        }
    }
}
@include mediaQuery(mobile) {
    .comm_tab {
        gap: 0;
        width: calc(100% - 8rem);
        margin: 0 auto 7rem auto;
        > li {
            width: 100%;
            a {
                width: 100%;
                text-align: center;
                padding-bottom: 2.5rem;
                font-size: 2.8rem;
            }
        }
    }
}