.scroll_grid {
    width: 100%;
    height: 350px;
    overflow-y: auto;
    @include scrollbar();
    table {
        border-collapse: collapse;
        width: 100%;
        thead {
            th {
                position: sticky;
                top: 0;
                z-index: 1;
                height: 45px;
                color: #595959;
                background-color: #fff;
            }
        }
        tbody {
            td {
                text-align: center;
                height: 45px;
                &:first-child {
                    border-radius: 5px 0 0 5px;
                }
                &:last-child {
                    border-radius: 0 5px 5px 0;
                }
            }
            tr {
                &:nth-child(odd) {
                    td {
                        background-color: #f9fafb;
                    }
                }
            }
        }
    }
}