#container {
    @include flexLayout(row, center, stretch);
    width: 100%;
    min-height: calc(100vh - 58px);
    padding: 60px 0 80px 280px;
    .content {
        width: 1320px;
    }
    section {
        &.radius {
            background-color: #fff;
            border-radius: 12px;
            border: 1px solid #e6e8eb;
        }
    }
    .search_open_btn {
        display: none;
    }
    .data_search {
        margin-bottom: 15px;
        > div {
            @include flexLayout(row, flex-start, center);
            gap: 5px;
            > h5 {
                display: none;
            }
            .division {
                .Select {
                    > .value {
                        height: 48px;
                    }
                    > .list {
                        top: 47px;
                    }
                }
            }
            .keyword {
                width: 340px;
                height: 48px;
                @include flexLayout(row, flex-start, center);
                .Select {
                    width: 120px;
                    >.value {
                        height: 48px;
                        border: 1px solid #e6e8eb;
                        border-right: none;
                        border-radius: 10px 0 0 10px;
                        &.focus {
                            border-radius: 10px 0 0 0;
                        }
                    }
                    .list {
                        top: 45px;
                        border: 1px solid #e6e8eb;
                        border-top: none;
                    }
                    &::after {
                        content: '';
                        width: 1px;
                        height: 26px;
                        background-color: #ccc;
                        @include positionLayout(absolute, y);
                        right: 0;
                    }
                }
                .inputBox {
                    width: 450px;
                    @include flexLayout(row, flex-start, center);
                    input[type=text] {
                        width: calc(100% - 166px);
                        height: 48px;
                        border: 1px solid #e6e8eb;
                        border-left: none;
                        border-right: none;
                        padding: 0 15px;
                        &::placeholder {
                            color: #c3c3c5;
                        }
                    }
                    >button {
                        width: 48px;
                        height: 48px;
                        background: #fff url(/images/svg/icon_search.svg) no-repeat center center;
                        background-size: 18px;
                        border: none;
                        text-indent: -99999px;
                        border: 1px solid #e6e8eb;
                        border-left: none;
                        border-radius: 0 10px 10px 0;
                    }
                }
            }
            .btns {
                display: none;
            }
        }
    }
}
.mobile_chk_fix {
    display: none;
}
@include mediaQuery(mobile){
    #container {
        min-height: auto;
        padding: 12rem 0 0 0;
        .content {
            width: 100%;
            padding-bottom: 12rem;
        }
        section {
            &.radius {
                border-radius: 2.4rem;
            }
        }
        .search_open_btn {
            width: 100%;
            height: 10rem;
            border: none;
            background-color: #e5e8ec;
            font-size: 2.8rem;
            padding: 0 4rem;
            @include flexLayout(row, space-between, center);
            &::after {
                content: '';
                width: 2.4rem;
                height: 1.2rem;
                background: url(/images/svg/select_arrow.svg) no-repeat center center;
                background-size: 2rem;
            }
        }
        .data_search {
            margin-bottom: 0;
            width: 100%;
            height: 100vh;
            position: fixed;
            left: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.6);
            z-index: 22;
            display: none;
            >div {
                width: 100%;
                padding: 5rem 4rem 8rem 4rem;
                position: fixed;
                left: 0;
                bottom: -100%;
                background-color: #fff;
                border-radius: 4rem 4rem 0 0;
                @include flexLayout(column, flex-start, stretch);
                gap: 1rem;
                transition: all .4s;
                &.open {
                    bottom: 0;
                }
                >h5 {
                    font-size: 2.8rem;
                    @include flexLayout(row, space-between, center);
                    margin-bottom: 2rem;
                    .close {
                        width: 3rem;
                        height: 3rem;
                        background-size: 100%;
                        border: none;
                        background-color: transparent
                    }
                }
                .division {
                    .Select {
                        width: 100% !important;
                        > .value {
                            height: 8rem;
                            &.focus {
                                border-radius: 0 0 2rem 2rem;
                            }
                        }
                        > .list {
                            top: inherit;
                            bottom: calc(8rem - 1px);
                            border-radius: 2rem 2rem 0 0;
                            border-bottom: none;
                            border-top: 1px solid #007afe;
                        }
                    }
                }
                .keyword {
                    width: 100%;
                    height: auto;
                    @include flexLayout(column, flex-start, stretch);
                    gap: 1rem;
                    .Select {
                        width: 100% !important;
                        >.value {
                            height: 8rem;
                            border: 1px solid #e6e8eb;
                            border-radius: 2rem;
                            &.focus {
                                border-radius: 0 0 2rem 2rem;
                                border-color: #007afe;
                            }
                        }
                        >.list {
                            top: inherit;
                            bottom: calc(8rem - 1px);
                            border-radius: 2rem 2rem 0 0;
                            border: 1px solid #007afe;
                            border-bottom: none;
                        }
                        &::after {
                            display: none;
                        }
                    }
                    .inputBox {
                        width: 100%;
                        height: 8rem;
                        border: 1px solid #e6e8eb;
                        border-radius: 2rem;
                        overflow: hidden;
                        input[type=text] {
                            width: calc(100% - 8rem);
                            height: 100%;
                            border: none;
                            padding: 0 3rem;
                            font-size: 2.6rem;
                        }
                        >button {
                            width: 8rem;
                            height: 100%;
                            background-size: 3.4rem;
                            border: none;
                        }
                    }
                }
                .btns {
                    @include flexLayout(row, center, center);
                    gap: 1.6rem;
                    margin-top: 4rem;
                    .Button {
                        width: 20rem;
                    }
                }
            }
        }
    }
    .mobile_chk_fix {
        width: 100%;
        position: fixed;
        left: 0;
        bottom: 0;
        @include flexLayout(row, space-between, center);
        background-color: #f6f7f9;
        padding: 4rem;
        border-top: 1px solid #e6e8eb;
        border-bottom: 1px solid #e6e8eb;
        z-index: 15;
        display: none;
        >p {
            font-size: 2.8rem;
            color: #595959;
            i {
                color: #007afe;
                font-size: 3.6rem;
                font-weight: 700;
            }
            .ctrl {
                @include flexLayout(row, flex-start, center);
                gap: 1rem;
            }
        }
    }
}