.radioGroup {
    @include flexLayout(row, flex-start, center);
    gap: 30px;
}
.radioButton {
    @include flexLayout(row, flex-start, center);
    gap: 5px;
    position: relative;
    cursor: pointer;
    > input[type=radio] {
        position: absolute;
        left: 0;
        top: 0;
        width: 1px;
        height: 1px;
        visibility: hidden;
        &:checked {
            +.icon {
                background: url(/images/svg/radiobutton_on.svg) no-repeat center center;
            }
        }
    }
    .icon {
        width: 19px;
        height: 19px;
        background: url(/images/svg/radiobutton_off.svg) no-repeat center center;
        transition: all .4s;
    }
    span {
        color: #595959;
    }
}
@include mediaQuery(mobile) {
    .radioGroup {
        gap: 8rem;
    }
    .radioButton {
        gap: 1.5rem;
        .icon {
            width: 3.8rem;
            height: 3.8rem;
            background-size: 100%;
        }
        span {
            font-size: 2.6rem;
        }
    }
}