.paging {
    width: 100%;
    margin-top: 60px;
    @include flexLayout(row, center, center);
    gap: 4px;
    button {
        width: 38px;
        height: 38px;
        border: none;
        background-color: transparent;
        > img {
            width: 6px;
        }
    }
    ul {
        @include flexLayout(row, center, center);
        gap: 4px;
        span,
        a {
            width: 38px;
            height: 38px;
            @include flexLayout(row, center, center);
            font-size: 18px;
        }
        span {
            background-color: #e5e8ec;
            border-radius: 5px;
            color: #292929;
        }
    }
}
@include mediaQuery(mobile) {
    .paging {
        margin-top: 8rem;
        button {
            width: 6rem;
            height: 6rem;
            >img {
                width: 1.2rem;
            }
        }
        ul {
            span,
            a {
                width: 6rem;
                height: 6rem;
                font-size: 3rem;
            }
            span {
                border-radius: 1rem;
            }
        }
    }
}