.layer_popup {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 20;
    display: none;
    .pop_data {
        @include positionLayout(absolute, center);
        background-color: #fff;
        padding: 40px;
        border: 1px solid #e6e8eb;
        border-radius: 15px;
        @include flexLayout(column, flex-start, stretch);
        gap: 15px;
        max-width: 90vh;
        .head {
            @include flexLayout(row, space-between, center);
            gap: 25px;
            margin-bottom: 25px;
            h6 {
                width: calc(100% - 45px);
                font-size: 18px;
                font-weight: 700;
                @include ellipsis(1);
            }
            button {
                width: 20px;
                height: 20px;
                background-color: transparent;
                border: none;
            }
        }
    }
}
@include mediaQuery(mobile) {
    .layer_popup {
        .pop_data {
            width: calc(100% - 8rem) !important;
            padding: 6rem 4rem;
            border-radius: 3rem;
            gap: 4rem;
            .head {
                gap: 5rem;
                margin-bottom: 4rem;
                h6 {
                    width: calc(100% - 9rem);
                    font-size: 3.8rem;
                }
                button {
                    width: 3rem;
                    height: 3rem;
                    background-size: 100%;
                }
            }
        }
    }
}