.layer_popup {
    .pop_data {
        &.people_pop {
            gap: 0;
            .body {
                .search {
                    @include flexLayout(column, flex-start, stretch);
                    gap: 10px;
                    fieldset {
                        &.for_pc {
                            @include flexLayout(row, space-between, center);
                            gap: 15px;
                            >div {
                                width: calc(100% - 55px);
                                @include flexLayout(row, flex-start, center);
                                .Select {
                                    width: 135px;
                                    >.value {
                                        height: 48px;
                                        border: 1px solid #e6e8eb;
                                        border-right:none;
                                        border-radius: 10px 0 0 10px;
                                        &.focus {
                                            border-radius: 10px 0 0 0;
                                        }
                                    }
                                    .list {
                                        top: 46px;
                                        border: 1px solid #e6e8eb;
                                        border-top: none;
                                    }
                                    &::after {
                                        content: '';
                                        width: 1px;
                                        height: 26px;
                                        background-color: #ccc;
                                        @include positionLayout(absolute, y);
                                        right: 0;
                                    }
                                }
                                input[type=text] {
                                    width: calc(100% - 90px);
                                    height: 48px;
                                    border: 1px solid #e6e8eb;
                                    border-left: none;
                                    border-right: none;
                                    padding: 0 15px;
                                    &::placeholder {
                                        color: #c3c3c5;
                                    }
                                }
                                >button {
                                    width: 48px;
                                    height: 48px;
                                    background: transparent url(/images/svg/icon_search.svg) no-repeat center center;
                                    background-size: 18px;
                                    border: 1px solid #e6e8eb;
                                    border-left: none;
                                    border-radius: 0 10px 10px 0;
                                    text-indent: -99999px;
                                }
                            }
                            button {
                                &.reset {
                                    border: none;
                                    font-weight: 500;
                                    color: #595959;
                                    text-decoration: underline;
                                    background-color: transparent;
                                }
                            }
                        }
                        &.for_mobile {
                            display: none;
                        }
                    }
                    >p {
                        color: #595959;
                    }
                }
                .data {
                    @include flexLayout(column, flex-start, stretch);
                    gap: 10px;
                    .top {
                        @include flexLayout(row, space-between, flex-end);
                        margin-top: 10px;
                        >p {
                            font-size: 16px;
                            color: #595959;
                            >i {
                                font-size: 18px;
                                font-weight: 700;
                                color: #007afe;
                            }
                        }
                        .ctrl {
                            @include flexLayout(row, flex-start, center);
                            gap: 5px;
                        }
                    }
                    .grid {
                        width: 100%;
                        max-height: 205px;
                        overflow-y: auto;
                        @include scrollbar();
                        table {
                            border-collapse: collapse;
                            width: 100%;
                            thead {
                                th {
                                    position: sticky;
                                    top: 0;
                                    z-index: 1;
                                    height: 34px;
                                    color: #595959;
                                    background-color: #f5f6f7;
                                    border-bottom: 1px solid #d1d5d9;
                                    font-weight: 500;
                                }
                            }
                            tbody {
                                td {
                                    text-align: center;
                                    height: 34px;
                                    border-bottom: 1px solid #d1d5d9;
                                }
                            }
                        }
                    }
                    .paging {
                        margin-top: 15px;
                    }
                }
            }
            .bottom_btns {
                margin-top: 35px;
            }
        }
    }
}
@include mediaQuery(mobile) {
    .layer_popup {
        .pop_data {
            &.people_pop {
                width: 100% !important;
                height: 100vh;
                transform: none;
                top: 0;
                left: 0;
                border-radius: 0;
                background-color: #f6f7f9;
                padding: 0;
                .head {
                    margin-bottom: 0;
                    padding: 4rem;
                    border-bottom: 1px solid #e6e8eb;
                    background-color: #fff;
                }
                .body {
                    max-height: 100vh;
                    overflow-y: auto;
                    @include scrollbar();
                    padding-bottom: 20rem;
                    .search {
                        fieldset {
                            &.for_pc {
                                display: none;
                            }
                            &.for_mobile {
                                display: block;
                                margin-top: 6rem;
                                .search_open {
                                    width: 100%;
                                    height: 10rem;
                                    border: none;
                                    background-color: #e5e8ec;
                                    font-size: 2.8rem;
                                    padding: 0 4rem;
                                    @include flexLayout(row, space-between, center);
                                    &::after {
                                        content: '';
                                        width: 2.4rem;
                                        height: 1.2rem;
                                        background: url(/images/svg/select_arrow.svg) no-repeat center center;
                                        background-size: 2rem;
                                    }
                                }
                                .search_field {
                                    width: 100%;
                                    height: 100vh;
                                    position: fixed;
                                    left: 0;
                                    bottom: 0;
                                    background-color: rgba(0, 0, 0, 0.6);
                                    z-index: 22;
                                    display: none;
                                    > div {
                                        width: 100%;
                                        padding: 5rem 4rem 8rem 4rem;
                                        position: fixed;
                                        left: 0;
                                        bottom: -100%;
                                        background-color: #fff;
                                        border-radius: 4rem 4rem 0 0;
                                        @include flexLayout(column, flex-start, stretch);
                                        gap: 5rem;
                                        transition: all .4s;
                                        &.open {
                                            bottom: 0;
                                        }
                                        > h5 {
                                            font-size: 2.8rem;
                                            @include flexLayout(row, space-between, center);
                                            .close {
                                                width: 3rem;
                                                height: 3rem;
                                                background-size: 100%;
                                                border: none;
                                                background-color: transparent
                                            }
                                        }
                                        > ul {
                                            @include flexLayout(column, flex-start, stretch);
                                            gap: 1rem;
                                            li {
                                                &:last-child {
                                                    width: 100%;
                                                    height: 8rem;
                                                    border: 1px solid #e6e8eb;
                                                    border-radius: 2rem;
                                                    @include flexLayout(row, flex-start, center);
                                                    overflow: hidden;
                                                    > input[type=text] {
                                                        width: calc(100% - 8rem);
                                                        height: 100%;
                                                        border: none;
                                                        padding: 0 3rem;
                                                        font-size: 2.6rem;
                                                    }
                                                    button {
                                                        width: 8rem;
                                                        height: 100%;
                                                        background: transparent url(/images/svg/icon_search.svg) no-repeat center center;
                                                        background-size: 3.6rem;
                                                        border: none;
                                                        text-indent: -9999px;
                                                    }
                                                }
                                            }
                                        }
                                        .btns {
                                            @include flexLayout(row, center, center);
                                            gap: 1.6rem;
                                            .Button {
                                                width: 20rem;
                                            }
                                        }
                                    } 
                                }
                            }
                        }
                        > p {
                            font-size: 2.6rem;
                            padding: 0 4rem;
                        }
                    }
                    .data {
                        padding: 0 4rem;
                        .top {
                            @include flexLayout(row, space-between, center);
                            margin-top: 4rem;
                            >p {
                                font-size: 2.6rem;
                                >i{
                                    font-size: 2.8rem;
                                }
                            }
                            .ctrl {
                                .Select {
                                    width: 15rem;
                                }
                            }
                        }
                        .grid {
                            max-height: none;
                            overflow: inherit;
                            table {
                                display: block;
                                colgroup {
                                    display: none;
                                }
                                thead {
                                    display: none;
                                }
                                tbody {
                                    width: 100%;
                                    display: block;
                                    @include flexLayout(column, flex-start, stretch);
                                    border-top: 1px solid #d1d5d9;
                                    tr {
                                        border-bottom: 1px solid #d1d5d9;
                                        padding: 3rem 3rem 3rem 15rem;
                                        background-color: #fff;
                                        @include flexLayout(column, flex-start, stretch);
                                        gap: 2rem;
                                        position: relative;
                                        td {
                                            text-align: left;
                                            height: auto;
                                            border-bottom: none;
                                            font-size: 2.8rem;
                                            @include flexLayout(row, flex-start, center);
                                            line-height: 3.8rem;
                                            > span {
                                                width: calc(100% - 14rem);
                                                @include ellipsis(1);
                                            }
                                            &::before {
                                                content: attr(data-text);
                                                white-space: nowrap;
                                                width: 14rem;
                                                color: #595959;
                                            }
                                            &.chk {
                                                position: absolute;
                                                left: 3rem;
                                                top: 3rem;
                                                display: block;
                                            }
                                            &.no {
                                                position: absolute;
                                                top: 3rem;
                                                left: 9rem;
                                                line-height: 3.8rem;
                                                display: block;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .bottom_btns {
                    display: none;
                }
            }
        }
    }
}